<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whale.dao.CarouselMapper">
	<resultMap id="carouseLMapperMap" type="org.whale.pojo.Carousel">
		<id column="PK_CAROUSEL_ID" jdbcType="DECIMAL" property="pkCarouselId" />
	    <result column="IMG_PATH" jdbcType="VARCHAR" property="imgPath" />
	    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
	</resultMap>
	
	<insert id="doSave">
		<selectKey keyProperty="pkCarouselId" resultType="long" order="BEFORE">
			select SEQ_SYS_CAROUSEL.nextval as pkCarouselId from dual
		</selectKey>
		 insert into SYS_CAROUSEL (PK_CAROUSEL_ID, IMG_PATH, FILE_NAME)
    	 values (
    	 	${pkCarouselId}, 
    	 	'${imgPath}',
    	 	'${fileName}'
    	 )
	</insert>
	
	<update id="doUpdate" parameterType="org.whale.pojo.Carousel">
		update SYS_CAROUSEL
    	set 
      		IMG_PATH = #{imgPath,jdbcType=VARCHAR},
      		FILE_NAME = #{fileName,jdbcType=VARCHAR}
      	where
      		PK_CAROUSEL_ID = #{pkCarouselId,jdbcType=DECIMAL}
	</update>
	
	<delete id="doDeleteByImgName">
		delete from sys_carousel where file_name = '${fileName}'
	</delete>
	
	<select id="queryPage" resultMap="carouseLMapperMap">
		select * from sys_carousel
	</select>
	
	<select id="queryPictureList" resultMap="carouseLMapperMap">
		select * from sys_carousel where 1 = 1
	</select>
</mapper>