<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whale.dao.GraduateInfoMapper">
  <resultMap id="graduateInfoMapperMap" type="org.whale.pojo.GraduateInfo">
    <id column="PK_GRAD_ID" jdbcType="DECIMAL" property="pkGradId" />
    <result column="SNO" jdbcType="DECIMAL" property="sno" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="NATION" jdbcType="VARCHAR" property="nation" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="POLITICAL_STATUS" jdbcType="VARCHAR" property="politicalStatus" />
    <result column="TEL" jdbcType="DECIMAL" property="tel" />
    <result column="QQ" jdbcType="DECIMAL" property="qq" />
    <result column="WCHAT" jdbcType="VARCHAR" property="wchat" />
    <result column="IN_DATE" jdbcType="TIMESTAMP" property="inDate" />
    <result column="DEPT" jdbcType="VARCHAR" property="dept" />
    <result column="SPECIALTY" jdbcType="VARCHAR" property="specialty" />
    <result column="EDUCATION" jdbcType="VARCHAR" property="education" />
    <result column="GRADUATE_COLLEGE" jdbcType="VARCHAR" property="graduateCollege" />
    <result column="HAVE_JOB" jdbcType="DECIMAL" property="haveJob" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <result column="INDUSTRY" jdbcType="VARCHAR" property="industry" />
    <result column="GET_JOB_TIME" jdbcType="TIMESTAMP" property="getJobTime" />
    <result column="MONTH_SALARY" jdbcType="DECIMAL" property="monthSalary" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="WORK_YEAR" jdbcType="VARCHAR" property="workYear" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="IS_VALID" jdbcType="DECIMAL" property="isValid" />
    <result column="FK_USER_ID" jdbcType="DECIMAL" property="fkUserId" />
  </resultMap>
  
  <update id="doUpdate" parameterType="org.whale.pojo.GraduateInfo">
  	update SYS_GRADUATE_INFO
    set
      SNO = #{sno,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      NATION = #{nation,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      POLITICAL_STATUS = #{politicalStatus,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=DECIMAL},
      QQ = #{qq,jdbcType=DECIMAL},
      WCHAT = #{wchat,jdbcType=VARCHAR},
      IN_DATE = #{inDate,jdbcType=TIMESTAMP},
      DEPT = #{dept,jdbcType=VARCHAR},
      SPECIALTY = #{specialty,jdbcType=VARCHAR},
      EDUCATION = #{education,jdbcType=VARCHAR},
      GRADUATE_COLLEGE = #{graduateCollege,jdbcType=VARCHAR},
      HAVE_JOB = #{haveJob,jdbcType=DECIMAL},
      COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      INDUSTRY = #{industry,jdbcType=VARCHAR},
      GET_JOB_TIME = #{getJobTime,jdbcType=TIMESTAMP},
      MONTH_SALARY = #{monthSalary,jdbcType=DECIMAL},
      POSITION = #{position,jdbcType=VARCHAR},
      WORK_YEAR = #{workYear,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      IS_VALID = 1
     where
      FK_USER_ID = #{fkUserId,jdbcType=DECIMAL}
  </update>
  
  <update id="doUpdateJobInfoByUserId" parameterType="org.whale.pojo.GraduateInfo">
  	 update SYS_GRADUATE_INFO
     set 
      COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      INDUSTRY = #{industry,jdbcType=VARCHAR},
      GET_JOB_TIME = #{getJobTime,jdbcType=VARCHAR},
      MONTH_SALARY = #{monthSalary,jdbcType=DECIMAL},
      POSITION = #{position,jdbcType=VARCHAR},
      WORK_YEAR = #{workYear,jdbcType=VARCHAR}
     where
      FK_USER_ID = #{fkUserId,jdbcType=DECIMAL}
  </update>
  
  <insert id="addLine" parameterType="org.whale.pojo.GraduateInfo">
  
  	<selectKey keyProperty="pkGradId" resultType="long" order="BEFORE">
		select SEQ_SYS_GRADUATE_INFO.nextval as pkGradId from dual
	</selectKey>
	
  	insert into SYS_GRADUATE_INFO(PK_GRAD_ID,FK_USER_ID,EMAIL,IS_VALID)
  	values(
  		#{pkGradId,jdbcType=DECIMAL},
  		#{fkUserId,jdbcType=DECIMAL},
  		#{email,jdbcType=VARCHAR},
  		0
  	)
  </insert>
  
  <select id="queryBasicInfoById" parameterType="java.lang.Long" resultMap="graduateInfoMapperMap">
  	select * from sys_graduate_info where fk_user_id = ${userId}
  </select>
  
  <select id="queryIdByRequire" resultType="java.lang.Long">
  	select FK_USER_ID from sys_graduate_info t where 1 = 1
  	<if test="name != null and name != ''">
  		and t.name like '%${name}%'
  	</if>
  	<if test="sex != null and sex != ''">
  		and t.sex = '${sex}'
  	</if>
  	<if test="age != null and age != ''">
  		and (select TRUNC(months_between(sysdate,s.birthday)/12) as age from SYS_GRADUATE_INFO s where s.PK_GRAD_ID = t.PK_GRAD_ID) = ${age}
  	</if>
  	<if test="province != null and province != ''">
  		and t.province = '${province}' 
  	</if>
  	<if test="city != null and city != ''">
  		and t.city = '${city}'
  	</if>
  	<if test="education != null and education != ''">
  		and t.education = '${education}'
  	</if>
  	<if test="gradCollege != null and gradCollege != ''">
  		and t.graduate_College like '%${gradCollege}%'
  	</if>
  	<if test="specialty != null and specialty != ''">
  		and t.specialty like '%${specialty}%'
  	</if>
  	<if test="workYear != null and workYear != ''">
  		and t.work_Year = '${workYear}'
  	</if>
  	<if test="fUZZY_WORD != null and fUZZY_WORD != ''">
  		and (t.name = '${fUZZY_WORD}' or t.sex = '${fUZZY_WORD}' or t.province = '${fUZZY_WORD}' or t.city = '${fUZZY_WORD}' or t.education like '%${fUZZY_WORD}%' or t.graduate_College like '%${fUZZY_WORD}%' or t.specialty like '%${fUZZY_WORD}%' or t.work_Year like '%${fUZZY_WORD}%' )
  	</if>
  </select>
  
  <select id="queryStudentInfo" resultMap="graduateInfoMapperMap">
  	select * from (select row_.*, rownum rownum_ from ( select pk_grad_id,sno,name,sex,in_date,dept,specialty,have_Job,company_Name,month_Salary from sys_graduate_info where 1 = 1
  	<if test="grade != null and grade != ''">
  		and to_char(in_date,'YYYY') = ${grade}
  	</if> 
  	<if test="dept != null and dept != ''">
  		and dept = '${dept}'
  	</if>
  	<if test="specialty != null and specialty != ''">
  		and specialty = '${specialty}'
  	</if>
  	) row_ where rownum <![CDATA[<=]]> ${limitA} ) where rownum_ <![CDATA[>=]]> ${limitB}
  </select>
  
  <select id="queryTotalNum" resultType="int">
  	select count(*) from (select pk_grad_id,sno,name,sex,in_date,dept,specialty,have_Job,company_Name,month_Salary from sys_graduate_info where 1 = 1
  	<if test="grade != null and grade != ''">
  		and to_char(in_date,'YYYY') = ${grade}
  	</if> 
  	<if test="dept != null and dept != ''">
  		and dept = '${dept}'
  	</if>
  	<if test="specialty != null and specialty != ''">
  		and specialty = '${specialty}'
  	</if>
  	)
  </select>
  
  <select id="getPkId" parameterType="java.lang.Long" resultType="java.lang.Long">
  	select PK_GRAD_ID from sys_graduate_info where fk_user_id = ${userId}
  </select>
</mapper>