<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whale.dao.RecruitmentMapper">
  <resultMap id="recruitmentMapperMap" type="org.whale.pojo.Recruitment">
     <id column="PK_RECRUITMENT_ID" jdbcType="DECIMAL" property="pkRecruitmentId" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="MONTH_SALARY" jdbcType="DECIMAL" property="monthSalary" />
    <result column="JOB_NATURE" jdbcType="VARCHAR" property="jobNature" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="POSTED_DATE" jdbcType="TIMESTAMP" property="postedDate" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="RECRUIT_NUM" jdbcType="DECIMAL" property="recruitNum" />
    <result column="JOB_CONTENT" jdbcType="VARCHAR" property="jobContent" />
    <result column="QUALIFICATION" jdbcType="VARCHAR" property="qualification" />
    <result column="EDUCATION" jdbcType="VARCHAR" property="education" />
    <result column="WORK_EXPERIENCE" jdbcType="VARCHAR" property="workExperience" />
    <result column="FK_USER_ID" jdbcType="DECIMAL" property="fkUserId" />
  </resultMap>
  	
  <insert id="doSave" parameterType="org.whale.pojo.Recruitment">
  	<selectKey keyProperty="pkRecruitmentId" resultType="long" order="BEFORE">
		select SEQ_SYS_RECRUITMENT.nextval as pkRecruitmentId from dual
	</selectKey>
	 insert into SYS_RECRUITMENT 
	 (PK_RECRUITMENT_ID, POSITION, MONTH_SALARY,JOB_NATURE, PROVINCE, CITY, POSTED_DATE, STATE, RECRUIT_NUM, JOB_CONTENT, QUALIFICATION, EDUCATION,WORK_EXPERIENCE, FK_USER_ID)
     values (
     	#{pkRecruitmentId,jdbcType=DECIMAL}, 
     	#{position,jdbcType=VARCHAR}, 
     	#{monthSalary,jdbcType=DECIMAL}, 
        #{jobNature,jdbcType=VARCHAR}, 
        #{province,jdbcType=VARCHAR}, 
        #{city,jdbcType=VARCHAR}, 
        sysdate, 
        #{state,jdbcType=DECIMAL}, 
        #{recruitNum,jdbcType=DECIMAL}, 
        #{jobContent,jdbcType=VARCHAR}, 
        #{qualification,jdbcType=VARCHAR}, 
        #{education,jdbcType=VARCHAR}, 
        #{workExperience,jdbcType=VARCHAR}, 
        #{fkUserId,jdbcType=DECIMAL}
      )
  </insert>
  
  <select id="queryPage" resultMap="recruitmentMapperMap">
  	select * from SYS_RECRUITMENT where FK_USER_ID = ${userId}
  	<if test="pkRecruitmentId != null and pkRecruitmentId != ''">
  		and PK_RECRUITMENT_ID = ${pkRecruitmentId}
  	</if>
  </select>
  
  <update id="doUpdate" parameterType="org.whale.pojo.Recruitment" >
  	 update SYS_RECRUITMENT
     set 
	      POSITION = #{position,jdbcType=VARCHAR},
	      MONTH_SALARY = #{monthSalary,jdbcType=DECIMAL},
	      JOB_NATURE = #{jobNature,jdbcType=VARCHAR},
	      PROVINCE = #{province,jdbcType=VARCHAR},
	      CITY = #{city,jdbcType=VARCHAR},
	      POSTED_DATE = #{postedDate,jdbcType=TIMESTAMP},
	      STATE = #{state,jdbcType=DECIMAL},
	      RECRUIT_NUM = #{recruitNum,jdbcType=DECIMAL},
	      JOB_CONTENT = #{jobContent,jdbcType=VARCHAR},
	      QUALIFICATION = #{qualification,jdbcType=VARCHAR},
	      EDUCATION = #{education,jdbcType=VARCHAR},
	      WORK_EXPERIENCE = #{workExperience,jdbcType=VARCHAR},
	      FK_USER_ID = #{fkUserId,jdbcType=DECIMAL}
     WHERE
      	  PK_RECRUITMENT_ID = #{pkRecruitmentId,jdbcType=DECIMAL}
  </update>
  
  <delete id="doDelete" parameterType="java.lang.Long">
  	delete from SYS_RECRUITMENT where PK_RECRUITMENT_ID = #{pkRecruitmentId,jdbcType=DECIMAL}
  </delete>
  
  <select id="getRecruitmentByPkId" resultMap="recruitmentMapperMap">
  	select * from SYS_RECRUITMENT where PK_RECRUITMENT_ID = ${pkRecruitmentId}
  </select>
</mapper>