<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whale.dao.ResumeProjectMapper">
  
  <resultMap id="resumeProjectMapperMap" type="org.whale.pojo.ResumeProject">
   <id column="PK_RESUME_PROJECT" jdbcType="DECIMAL" property="pkResumeProject" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="PROJECT_DESCRIPTION" jdbcType="VARCHAR" property="projectDescription" />
    <result column="PERSONAL_RESPONSIBILITY" jdbcType="VARCHAR" property="personalResponsibility" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <result column="PROJECT_DATE" jdbcType="VARCHAR" property="projectDate" />
    <result column="IS_VALID" jdbcType="DECIMAL" property="isValid" />
    <result column="FK_RESUME_ID" jdbcType="DECIMAL" property="fkResumeId" />
  </resultMap>
  
  <insert id="doSave" parameterType="java.util.List">
  	<selectKey keyProperty="pkResumeProject" resultType="long"  order="BEFORE">
  		select SEQ_SYS_RESUME_PROJECT.nextval as pkResumeProject from dual
  	</selectKey>
    insert into SYS_RESUME_PROJECT (PK_RESUME_PROJECT, PROJECT_NAME, PROJECT_DESCRIPTION, 
      PERSONAL_RESPONSIBILITY, COMPANY_NAME, PROJECT_DATE, 
      IS_VALID, FK_RESUME_ID)
    values (#{pkResumeProject,jdbcType=DECIMAL}, #{projectName,jdbcType=VARCHAR}, #{projectDescription,jdbcType=VARCHAR}, 
      #{personalResponsibility,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{projectDate,jdbcType=VARCHAR}, 
      #{isValid,jdbcType=DECIMAL}, #{fkResumeId,jdbcType=DECIMAL})
  </insert>
  
  <select id="getResumeProjectByResumeId" resultMap="resumeProjectMapperMap" parameterType="Long">
  	select * from sys_resume_project where fk_resume_id = #{fkResumeId,jdbcType=DECIMAL}
  </select>
 
  <update id="doUpdateByResumeId" parameterType="java.util.List" >
  	 <foreach collection="list" item="item" index="index" separator=";">
  	 	update SYS_RESUME_PROJECT
    	set 
    		PROJECT_NAME = #{item.projectName,jdbcType=VARCHAR},
      		PROJECT_DESCRIPTION = #{item.projectDescription,jdbcType=VARCHAR},
      		PERSONAL_RESPONSIBILITY = #{item.personalResponsibility,jdbcType=VARCHAR},
      		COMPANY_NAME = #{item.companyName,jdbcType=VARCHAR},
      		PROJECT_DATE = #{item.projectDate,jdbcType=VARCHAR}
    	where 
    		FK_RESUME_ID = #{item.fkResumeId,jdbcType=DECIMAL}
  	 </foreach>
  </update>
  
  <delete id="doDeleteByResumeId" parameterType="java.lang.Long">
  	 delete from SYS_RESUME_PROJECT where FK_RESUME_ID = ${resumeId}
  </delete>
  
  <select id="getResumeProjectIdByResumeId" parameterType="java.lang.Long" resultType="java.lang.Long">
  	select PK_RESUME_PROJECT from SYS_RESUME_PROJECT where FK_RESUME_ID = #{fkResumeId,jdbcType=DECIMAL}
  </select>
  
  <select id="queryPageByFkId" parameterType="java.lang.Long" resultMap="resumeProjectMapperMap">
  	select * from SYS_RESUME_PROJECT where FK_RESUME_ID = ${fkResumeId}
  </select>
  
  <delete id="doDelete" parameterType="java.lang.Long">
  	delete from SYS_RESUME_PROJECT where PK_RESUME_PROJECT = ${id}
  </delete>
  
  <update id="doUpdate" parameterType="org.whale.pojo.ResumeProject">
  	  update 
  	      SYS_RESUME_PROJECT
      set 
      	  PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
	      PROJECT_DESCRIPTION = #{projectDescription,jdbcType=VARCHAR},
	      PERSONAL_RESPONSIBILITY = #{personalResponsibility,jdbcType=VARCHAR},
	      COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
	      PROJECT_DATE = #{projectDate,jdbcType=VARCHAR},
	      IS_VALID = #{isValid,jdbcType=DECIMAL},
	      FK_RESUME_ID = #{fkResumeId,jdbcType=DECIMAL}
      where 
          PK_RESUME_PROJECT = #{pkResumeProject,jdbcType=DECIMAL}
  </update>
  
  <select id="getResumeProjectByPkId" parameterType="java.lang.Long" resultMap="resumeProjectMapperMap">
    select * from SYS_RESUME_PROJECT where PK_RESUME_PROJECT = ${pkResumeProject}
  </select>
</mapper>