<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whale.dao.ResumeWorkMapper">

  <resultMap id="resumeWorkMapperMap" type="org.whale.pojo.ResumeWork">
    <id column="PK_RESUME_WORK_ID" jdbcType="DECIMAL" property="pkResumeWorkId" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <result column="INDUSTRY" jdbcType="VARCHAR" property="industry" />
    <result column="JOB_INTENSION" jdbcType="VARCHAR" property="jobIntension" />
    <result column="JOB_TYPE" jdbcType="VARCHAR" property="jobType" />
    <result column="MONTH_SALARY" jdbcType="DECIMAL" property="monthSalary" />
    <result column="JOB_DESCRIPTION" jdbcType="VARCHAR" property="jobDescription" />
    <result column="WORK_DATE" jdbcType="VARCHAR" property="workDate" />
    <result column="IS_VALID" jdbcType="DECIMAL" property="isValid" />
    <result column="FK_RESUME_ID" jdbcType="DECIMAL" property="fkResumeId" />
  </resultMap>
  
  <insert id="doSave" parameterType="java.util.List">
  	<selectKey keyProperty="pkResumeWorkId" resultType="long" order="BEFORE">
  		select SEQ_SYS_RESUME_WORK.nextval as pkResumeWorkId from dual
  	</selectKey>
     insert into SYS_RESUME_WORK (PK_RESUME_WORK_ID, COMPANY_NAME, INDUSTRY, 
      JOB_INTENSION, JOB_TYPE, MONTH_SALARY, 
      JOB_DESCRIPTION, WORK_DATE, IS_VALID, 
      FK_RESUME_ID)
    values (#{pkResumeWorkId,jdbcType=DECIMAL}, #{companyName,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, 
      #{jobIntension,jdbcType=VARCHAR}, #{jobType,jdbcType=VARCHAR}, #{monthSalary,jdbcType=DECIMAL}, 
      #{jobDescription,jdbcType=VARCHAR}, #{workDate,jdbcType=VARCHAR}, #{isValid,jdbcType=DECIMAL}, 
      #{fkResumeId,jdbcType=DECIMAL})
  </insert>
  
  <select id="getResumeWorkByResumeId" resultMap="resumeWorkMapperMap" parameterType="Long">
  	select * from sys_resume_work where FK_resume_id = #{fkResumeId,jdbcType=DECIMAL}
  </select>
  
  <update id="doUpdate" parameterType="org.whale.pojo.ResumeWork">
 	 update SYS_RESUME_WORK
     set 
	      COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
	      INDUSTRY = #{industry,jdbcType=VARCHAR},
	      JOB_INTENSION = #{jobIntension,jdbcType=VARCHAR},
	      JOB_TYPE = #{jobType,jdbcType=VARCHAR},
	      MONTH_SALARY = #{monthSalary,jdbcType=DECIMAL},
	      JOB_DESCRIPTION = #{jobDescription,jdbcType=VARCHAR},
	      WORK_DATE = #{workDate,jdbcType=VARCHAR},
	      IS_VALID = #{isValid,jdbcType=DECIMAL},
	      FK_RESUME_ID = #{fkResumeId,jdbcType=DECIMAL}
     where 
     	  PK_RESUME_WORK_ID = #{pkResumeWorkId,jdbcType=DECIMAL}
  </update>
  
  <delete id="doDelete" parameterType="java.lang.Long">
  	 delete from SYS_RESUME_WORK where PK_RESUME_WORK_ID = #{pkResumeWorkId,jdbcType=DECIMAL}
  </delete>
  
  <select id="getResumeWorkIdByResumeId" parameterType="java.lang.Long" resultType="java.lang.Long">
  	select PK_RESUME_WORK_ID from SYS_RESUME_WORK where FK_RESUME_ID = #{fkResumeId,jdbcType=DECIMAL}
  </select>
  
  <select id="queryPageByFkId" parameterType="java.lang.Long" resultMap="resumeWorkMapperMap">
  	select * from SYS_RESUME_WORK where FK_RESUME_ID = ${fkResumeId}
  </select>
  
  <select id="getResumeWorkByPkId" parameterType="java.lang.Long" resultMap="resumeWorkMapperMap">
    select * from SYS_RESUME_WORK where PK_RESUME_WORK_ID = ${pkResumeWorkId}
  </select>
  
  <delete id="doDeleteByResumeId" parameterType="java.lang.Long">
  	delete from SYS_RESUME_WORK where FK_RESUME_ID = ${fkResumeId}
  </delete>
</mapper>