<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whale.dao.ResumeMapper">

  <resultMap id="resumeMapperMap" type="org.whale.pojo.Resume">
    <id column="PK_RESUME_ID" jdbcType="DECIMAL" property="pkResumeId" />
    <result column="PROFESSIONAL_ABILITY" jdbcType="VARCHAR" property="professionalAbility" />
    <result column="CERTIFICATE" jdbcType="VARCHAR" property="certificate" />
    <result column="JOB_TYPE" jdbcType="VARCHAR" property="jobType" />
    <result column="EXPERT_INDUSTRY" jdbcType="VARCHAR" property="expertIndustry" />
    <result column="EXPERT_JOB_INTENSION" jdbcType="VARCHAR" property="expertJobIntension" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="EXPERT_SALARY" jdbcType="DECIMAL" property="expertSalary" />
    <result column="JOB_STATUS" jdbcType="VARCHAR" property="jobStatus" />
    <result column="IS_VALID" jdbcType="DECIMAL" property="isValid" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="FK_USER_ID" jdbcType="DECIMAL" property="fkUserId" />
  </resultMap>
  
  <insert id="doSave" parameterType="org.whale.pojo.Resume">
 	<selectKey keyProperty="pkResumeId" resultType="long" order="BEFORE">
		select SEQ_SYS_RESUME.nextval as pkResumeId from dual
	</selectKey>
	 insert into SYS_RESUME (PK_RESUME_ID, PROFESSIONAL_ABILITY, 
      CERTIFICATE, JOB_TYPE, EXPERT_INDUSTRY, 
      EXPERT_JOB_INTENSION, PROVINCE, CITY, 
      EXPERT_SALARY, JOB_STATUS, IS_VALID, 
      CREATE_TIME, FK_USER_ID)
    values (#{pkResumeId,jdbcType=DECIMAL}, #{professionalAbility,jdbcType=VARCHAR}, 
      #{certificate,jdbcType=VARCHAR}, #{jobType,jdbcType=VARCHAR}, #{expertIndustry,jdbcType=VARCHAR}, 
      #{expertJobIntension,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{expertSalary,jdbcType=DECIMAL}, #{jobStatus,jdbcType=VARCHAR}, #{isValid,jdbcType=DECIMAL}, 
      sysdate, #{fkUserId,jdbcType=DECIMAL})
  </insert>
  
  <select id="getResumeByUserId" resultMap="resumeMapperMap" parameterType="org.whale.pojo.Resume">
  	select * from sys_resume where fk_user_id = #{fkUserId,jdbcType=DECIMAL} order by pk_resume_id
  </select>
  
  <update id="doUpdateByResumeId" parameterType="org.whale.pojo.Resume">
     update SYS_RESUME
     set 
      PROFESSIONAL_ABILITY = #{professionalAbility,jdbcType=VARCHAR},
      CERTIFICATE = #{certificate,jdbcType=VARCHAR},
      JOB_TYPE = #{jobType,jdbcType=VARCHAR},
      EXPERT_INDUSTRY = #{expertIndustry,jdbcType=VARCHAR},
      EXPERT_JOB_INTENSION = #{expertJobIntension,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      EXPERT_SALARY = #{expertSalary,jdbcType=DECIMAL},
      JOB_STATUS = #{jobStatus,jdbcType=VARCHAR},
      IS_VALID = #{isValid,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      FK_USER_ID = #{fkUserId,jdbcType=DECIMAL}
      where 
      	PK_RESUME_ID = #{pkResumeId,jdbcType=DECIMAL}
  </update>
  
  <delete id="doDeleteByResumeId" parameterType="java.lang.Long">
  	 delete from SYS_RESUME where PK_RESUME_ID = #{pkResumeId,jdbcType=DECIMAL}
  </delete>
  
  <select id="queryResumeById" parameterType="java.lang.Long" resultMap="resumeMapperMap">
  	select * from sys_resume where pk_resume_id = #{pkResumeId,jdbcType=DECIMAL}
  </select>
  
  <select id="getResumeByEmployer" resultMap="resumeMapperMap">
  	select * from sys_resume
  </select>
  
  <!--  <select id="doSearchByRequire"  resultMap="Resume">
  	select * from SYS_GRADUATE_INFO t1,Sys_Resume t2  left join SYS_RESUME_WORK t3 on t3.fk_resume_id = t2.pk_resume_id left join sys_resume_project t4 on t4.fk_resume_id = t2.pk_resume_id where t1.fk_user_id = t2.fk_user_id 
  	<if test="resumeId != null">
  		and t2.pk_resume_id = #{resumeId}
  	</if>
  	<if test="age != null">
  		and t1.age = #{age}
  	</if>
  	<if test="expertIndustry != null and expertIndustry != ''">
  		and t2.EXPERT_INDUSTRY = #{expertIndustry}
  	</if>
  	<if test="education != null and education != ''">
  		and t1.education = #{education}
  	</if>
  	<if test="sex != null and sex != ''">
  		and t1.sex = #{sex}
  	</if>
  	<if test="age != null">
  		and t1.age >= #{age}
  	</if>
  	<if test="workYear != null and workYear != ''">
  		and t1.WORK_YEAR = #{workYear}
  	</if>
  	<if test="gradCollege != null and gradCollege != ''">
  		and t1.GRAD_COLLEGE = #{gradCollege}
  	</if>
  	<if test="expertJobIntension != null and expertJobIntension != ''">
  		and t2.EXPERT_JOB_INTENSION = #{expertJobIntension}
  	</if>
  	<if test="userId != null">
  		and t2.fk_user_id = #{userId}
  	</if>
  </select>-->
  <select id="getResumeId" resultType="Long">
  	select SEQ_SYS_RESUME.nextval - 1 from dual
  </select>
  
  <select id="queryPageByFkId" parameterType="java.lang.Long" resultMap="resumeMapperMap">
  	select * from sys_resume where FK_USER_ID = ${fkUserId}
  	<if test="resumeId != null and resumeId != ''">
  	    and pk_resume_id = ${resumeId}
  	</if>
  </select>
</mapper>