<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.whale.dao.UserMapper">
	
	<resultMap id="userMapperMap" type="org.whale.pojo.User">
	   <id column="PK_USER_ID" jdbcType="DECIMAL" property="pkUserId" />
	    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
	    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
	    <result column="ROLE" jdbcType="DECIMAL" property="role" />
	    <result column="STATE" jdbcType="DECIMAL" property="state" />
	    <result column="CODE" jdbcType="VARCHAR" property="code" />
	    <result column="HEAD_PATH" jdbcType="VARCHAR" property="headPath" />
	    <result column="REGISTER_TIME" jdbcType="TIMESTAMP" property="registerTime" />
	    <result column="ACTIVE_TIME" jdbcType="TIMESTAMP" property="activeTime" />
	    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
	    <result column="IS_VALID" jdbcType="DECIMAL" property="isValid" />
 	</resultMap>
 	
 	<!-- 提取公共sql 使用<include>标签引入 -->
 	<sql id="getUserSql">
 		select * from SYS_USER
 	</sql>
 	
 	<select id="IsRegister" resultType="int">
 		select count(pk_user_id) from sys_user where 1 = 1
 		<if test="userName != null and userName != ''">
			and username = '${userName}' 			 
 		</if>
 		<if test="email != null and email != ''">
 			and email = '${email}'
 		</if>
 	</select>
 	
	<insert id="addUser" parameterType="org.whale.pojo.User">
	 	<selectKey keyProperty="pkUserId" resultType="long" order="BEFORE">
			select SEQ_SYS_USER.nextval as pkUserId from dual
		</selectKey>
		
		 insert into SYS_USER (PK_USER_ID, USERNAME, PASSWORD, ROLE, STATE, CODE, HEAD_PATH, REGISTER_TIME,EMAIL,IS_VALID)
    	 values (
    	 	#{pkUserId,jdbcType=DECIMAL}, 
    	 	#{username,jdbcType=VARCHAR}, 
    	 	#{password,jdbcType=VARCHAR}, 
      		#{role,jdbcType=DECIMAL}, 
      		#{state,jdbcType=DECIMAL}, 
      		#{code,jdbcType=VARCHAR}, 
      		#{headPath,jdbcType=VARCHAR}, 
      		sysdate,
      		#{email,jdbcType=VARCHAR},
      		1
      	)
    </insert>
    
    <select id="doLogin" parameterType="org.whale.pojo.User" resultMap="userMapperMap">
    	select * from sys_user where userName = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}  and is_valid = 1
    </select>
    
    <select id="getCode" parameterType="String" resultType="String">
    	select code from sys_user where userName = #{username,jdbcType=VARCHAR}
    </select>
    
    <update id="updateState" parameterType="String">
    	update sys_user set state = 1,active_time = sysdate where userName = #{username,jdbcType=VARCHAR}
    </update>
    
    <update id="changeUserName" parameterType="org.whale.pojo.User">
    	update sys_user set userName = #{username,jdbcType=VARCHAR} where pk_User_Id = #{pkUserId,jdbcType=DECIMAL}
    </update>
    
    <update id="changePassword" parameterType="org.whale.pojo.User">
    	update sys_user set password = #{password,jdbcType=VARCHAR} where pk_User_Id = #{pkUserId,jdbcType=DECIMAL}
    </update>
    
    <select id="getUserHeadPath" parameterType="java.lang.Long" resultType="String">
    	select head_path from sys_user where pk_user_id = #{pkUserId,jdbcType=DECIMAL}
    </select>
    
    <update id="uploadUserHeadImage">
    	update sys_user set head_path = #{arg1} where pk_user_id = #{arg0}
    </update>
    
    <select id="haveUserHeadPath" parameterType="java.lang.Long" resultType="String">
    	select head_path from sys_user where pk_user_id = ${userId}
    </select>
    
    <select id="queryUserPage" resultMap="userMapperMap">
    	select * from (select row_.*, rownum rownum_ from ( select u.pk_user_id,u.username,u.role,u.state,u.register_time,u.active_time,u.email,u.is_valid from sys_user u where 1 = 1
    	<if test="username != null and username != ''">
    		and username = '${username}'
    	</if>
    	<if test="email != null and email != ''">
    	 	and email = '${email}'
    	</if>
    	<if test="role != null and role != ''">
    		and role = ${role}
    	</if>
    	<if test="state != null and state != ''">
    		and state = ${state}
    	</if>
    	<if test="isValid != null and isValid != ''">
    		and is_Valid = ${isValid}
    	</if>
    	<if test="registerStartTime != null and registerStartTime != ''">
    		and register_Time <![CDATA[>=]]> to_date('${registerStartTime}','yyyy-mm-dd hh24:mi:ss')
    	</if>
    	<if test="registerEndTime != null and registerEndTime != ''">
    		and register_time <![CDATA[<=]]> to_date('${registerEndTime}','yyyy-mm-dd hh24:mi:ss')
    	</if>
    	<if test="activeStartTime != null and activeStartTime != ''">
    		and active_time <![CDATA[>=]]> to_date('${activeStartTime}','yyyy-mm-dd hh24:mi:ss')
    	</if>
    	<if test="activeEndTime != null and activeEndTime != ''">
    		and active_time <![CDATA[<=]]> to_date('${activeEndTime}','yyyy-mm-dd hh24:mi:ss')
    	</if>
    	<if test="FUZZY_WORD != null and FUZZY_WORD != ''">
    		and (username like '%${FUZZY_WORD}%' or email like '%${FUZZY_WORD}%' or role = ${FUZZY_WORD} or state = ${FUZZY_WORD} or is_valid = ${FUZZY_WORD} )
    	</if>
    	) row_ where rownum <![CDATA[<=]]> ${limitA} ) where rownum_ <![CDATA[>=]]> ${limitB}
    </select>
    
    <select id="getTotalNum" resultType="int">
    	select count(pk_user_id) from (select u.pk_user_id,u.username,u.role,u.state,u.register_time,u.active_time,u.email,u.is_valid from sys_user u where 1 = 1
    	<if test="username != null and username != ''">
    		and username = '${username}'
    	</if>
    	<if test="email != null and email != ''">
    	 	and email = '${email}'
    	</if>
    	<if test="role != null and role != ''">
    		and role = ${role}
    	</if>
    	<if test="state != null and state != ''">
    		and state = ${state}
    	</if>
    	<if test="isValid != null and isValid != ''">
    		and is_Valid = ${isValid}
    	</if>
    	<if test="registerStartTime != null and registerStartTime != ''">
    		and register_Time <![CDATA[>=]]> to_date('${registerStartTime}','yyyy-mm-dd hh24:mi:ss')
    	</if>
    	<if test="registerEndTime != null and registerEndTime != ''">
    		and register_time <![CDATA[<=]]> to_date('${registerEndTime}','yyyy-mm-dd hh24:mi:ss')
    	</if>
    	<if test="activeStartTime != null and activeStartTime != ''">
    		and active_time <![CDATA[>=]]> to_date('${activeStartTime}','yyyy-mm-dd hh24:mi:ss')
    	</if>
    	<if test="activeEndTime != null and activeEndTime != ''">
    		and active_time <![CDATA[<=]]> to_date('${activeEndTime}','yyyy-mm-dd hh24:mi:ss')
    	</if>
    	<if test="FUZZY_WORD != null and FUZZY_WORD != ''">
    		and (username like '%${FUZZY_WORD}%' or email like '%${FUZZY_WORD}%' or role = ${FUZZY_WORD} or state = ${FUZZY_WORD} or is_valid = ${FUZZY_WORD} )
    	</if>
    	)
    </select>
    
    <update id="doUpdateUserState">
    	update sys_user set 
    	<if test="state != null and state != ''">
    		state = ${state}
    	</if>
    	<if test="isValid != null and isValid != ''">
    		is_valid = ${isValid}
    	</if>
    	 where pk_user_id = ${pkUserId}
    </update>
    
    <insert id="doRegisterAdminUser" parameterType="org.whale.pojo.User">
    	<selectKey keyProperty="pkUserId" resultType="long" order="BEFORE">
			select SEQ_SYS_USER.nextval as pkUserId from dual
		</selectKey>
    	insert into sys_user(pk_User_Id,username,password,role,state,is_valid,register_time,active_time)
    	values(
    		#{pkUserId,jdbcType=DECIMAL}, 
    	 	#{username,jdbcType=VARCHAR}, 
    	 	#{password,jdbcType=VARCHAR}, 
      		0, 
      		1, 
      		1, 
      		sysdate,
      		sysdate
    	)
    </insert>
    
    <select id="queryJobRate" resultType="java.util.HashMap">
    	<if test="grade != null and grade != '' and !(dept != null and dept != '') and !(specialty != null and specialty != '')">
    		select round((select count(pk_grad_id) as year from sys_graduate_info t  where have_job = 1 and to_char(t.in_date,'YYYY') = ${grade})/decode((select count(pk_grad_id) from sys_graduate_info t where to_char(t.in_date,'YYYY') = ${grade}),0,1,(select count(pk_grad_id) from sys_graduate_info t where to_char(t.in_date,'YYYY') = ${grade})),2)*100 as totalRate,(select count(pk_grad_id) from sys_graduate_info where to_char(in_date,'YYYY') = ${grade}) as totalNum,(select count(pk_grad_id) as year from sys_graduate_info t  where have_job = 1 and to_char(t.in_date,'YYYY') = ${grade}) as jobNum from sys_graduate_info where 1=1 and rownum = 1
    	</if>
    	<if test="grade != null and grade != '' and dept != null and dept != '' and !(specialty != null and specialty != '')">
    		select round((select count(pk_grad_id) as year from sys_graduate_info t  where have_job = 1 and to_char(t.in_date,'YYYY') = ${grade} and dept = '${dept}')/decode((select count(pk_grad_id) from sys_graduate_info t where to_char(t.in_date,'YYYY') = ${grade} and dept = '${dept}'),0,1,(select count(pk_grad_id) from sys_graduate_info t where to_char(t.in_date,'YYYY') = ${grade} and dept = '${dept}')),2)*100 as totalRate,(select count(pk_grad_id) from sys_graduate_info where to_char(in_date,'YYYY') = ${grade} and dept = '${dept}') as totalNum,(select count(pk_grad_id) as year from sys_graduate_info t  where have_job = 1 and to_char(t.in_date,'YYYY') = ${grade} and dept = '${dept}') as jobNum from sys_graduate_info where 1=1 and rownum = 1
    	</if>
    	<if test="grade != null and grade != '' and dept != null and dept != '' and specialty != null and specialty != ''">
    		select round((select count(pk_grad_id) as year from sys_graduate_info t  where have_job = 1 and to_char(t.in_date,'YYYY') = ${grade} and dept = '${dept}' and specialty = '${specialty}')/decode((select count(pk_grad_id) from sys_graduate_info t where to_char(t.in_date,'YYYY') = ${grade} and dept = '${dept}' and specialty = '${specialty}'),0,1,(select count(pk_grad_id) from sys_graduate_info t where to_char(t.in_date,'YYYY') = ${grade} and dept = '${dept}' and specialty = '${specialty}')),2)*100 as totalRate,(select count(pk_grad_id) from sys_graduate_info where to_char(in_date,'YYYY') = ${grade} and dept = '${dept}' and specialty = '${specialty}') as totalNum,(select count(pk_grad_id) as year from sys_graduate_info t  where have_job = 1 and to_char(t.in_date,'YYYY') = ${grade} and dept = '${dept}' and specialty = '${specialty}') as jobNum from sys_graduate_info where 1=1 and rownum = 1
    	</if>
    </select>
</mapper>